@{
    ViewData["Title"] = "Forgot Password Confirmation";
}

<div class="my-container">
    <h2>Forgot Password Confirmation</h2>
    <p>Please check your email to reset your password.</p>
    <strong>If you don't see our email in your inbox, please check your spam or junk folder.</strong>
</div>