@model sportify.BLL.DTOs.LeagueDTO

@{
    ViewData["Title"] = "Create League";
}
<br />
<br />
<br />
<br />
<h1>Create New League</h1>

<form asp-action="Create" asp-controller="League" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SportType" class="control-label"></label>
        <input asp-for="SportType" class="form-control" />
        <span asp-validation-for="SportType" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StartDate" class="control-label"></label>
        <input asp-for="StartDate" class="form-control datepicker" placeholder="mm/dd/yyyy" type="date" />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="DurationBetweenMatches" class="control-label"></label>
        <input asp-for="DurationBetweenMatches" class="form-control" />
        <span asp-validation-for="DurationBetweenMatches" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NumberOfTeams" class="control-label"></label>
        <input asp-for="NumberOfTeams" class="form-control" />
        <span asp-validation-for="NumberOfTeams" class="text-danger"></span>
    </div>

    <div class="form-group form-check">
        <input asp-for="IsCompleted" class="form-check-input" />
        <label asp-for="IsCompleted" class="form-check-label"></label>
        <span asp-validation-for="IsCompleted" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ImageUrl" class="control-label"></label>
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Create</button>
</form>
